<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overall feedback</title>
	 
	<link href="../plugins/sgpcss.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	<link href="../plugins/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
@media print {
  .pr {
    display: block;
    page-break-inside: avoid;
    page-break-after: auto;
  }

}

    </style>
    	<script type="text/javascript">
            window.onload = function() {
                window.print();
            };
        </script>
</head>
<body>
 
                   
                    <div   class="container"   >
                    {% for row in final %}
                <div class="pr">
                        <div style="width: 100%;border-bottom: 1px solid rgba(0,0,0,1.00); min-height:150px; display: flex;  justify-content: center;" class="container ">
                            <div style="margin-right: 10px;">
                                <img src="{{ url_for('static', filename='images/logo.PNG') }}" width="80px;">
                            </div>
                            <div style="text-align: center; ">
                                <b>Sou. Sushila Danchand Ghodawat Charitable Trust's<br>
                                Sanjay Ghodawat Polytechnic<br>Department of {{row[0]}}:
                                Formative Feedback  {{ current_month }} {{ current_year }} <br>
                                Performance Appraisal by Students Year:{{ay}} <br>
                                </b>
                            </div>
                        </div>
                        <div style="margin-top: 5px;width: 100%;text-align: center;height: auto; " class="rep">
                        <b style="float: left;margin-left: 5px">Faculty Name: {{row[1]}}</div> </b><br><br>
                      
                      
                       <table class="table table-light table-striped ">
                        <thead>
                        <tr>
                            <th>Class</th>
                            <th>Div</th>
                            <th>Sub</th>
                            <th>Type</th>
                   
                            <th>Q1</th>
                            <th>Q2</th>
                            <th>Q3</th>
                            <th>Q4</th>
                            <th>Q5</th>
                            <th>Q6</th>
                            <th>Q7</th>
                            <th>Q8</th>
                            <th>Q9</th>
                            <th>Q10</th>
                           
                            <th>Avg</th>
                        </tr>  
                        </thead>
                        <tbody>
                        {% for trec in row[2] %} 
                        <tr>
                            <td>{{trec[0]}}</td>
                            <td>{{trec[1]}}</td>
                            <td>{{trec[2]}}</td>
                            <td>{{trec[3]}}</td>
                          
                            <td>{{trec[5]}}</td>
                            <td>{{trec[6]}}</td>
                            <td>{{trec[7]}}</td>
                            <td>{{trec[8]}}</td>
                            <td>{{trec[9]}}</td>
                            <td>{{trec[10]}}</td>
                            <td>{{trec[11]}}</td>
                            <td>{{trec[12]}}</td>
                            <td>{{trec[13]}}</td>
                            <td>{{trec[14]}}</td>
                          
                            <td>{{trec[16]}}</td>
                            {% endfor %}
                            </tr>
                            </tbody>
                        </table><br>
                        <br>
                        <br>
                        
                        <div style="margin-right: 85px;text-align: right;">
                            HOD sign
                            
                            </div>
                           
                        <hr style="margin-bottom: 100px;border-top: 3px dashed #000;">
                        
                       
                    </div>
                    {% endfor %}
                
                    </div>
</body>
</html>
