{% extends 'base.html' %}
{% block title %}
Class
{% endblock title %}
{% block body %}
    

<!--main body --> 
<div id="main">
    <h2>Class</h2>
    <p>Each department has this three classes mentioned below.</p>

    <caption>List of Classes</caption>
    <table class="table caption-top bord" style="  color:var(--tabel-text-color);">
    
      <thead class="tab-dark " >
        <tr>
          <th scope="col">Srno.</th>
          <th scope="col">ID</th>
          <th scope="col">Class</th>
          <th scope="col">Abbrevation</th>
          <th scope="col">Edit</th>
      
        </tr>
      </thead>
      <tbody>
        {% for cl in cls %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{cl[0]}}</td>
          <td>{{ cl[1] }}</td>
          <td>{{ cl[2]}}</td>
          
            
              <td>
                <form method="post" action="/get_cls_data">
                  <input type="hidden" name="_id" value="{{ cl[0] }}">
                  <button type="submit" class="btn btn-outline-secondary btn-sm edit">
                      <i class="fa fa-pencil"></i>
                  </button>
              </form>
              </td>
              
        
            
     
          
        </tr>
        {% endfor %}
        
          
        </tr>
      </tbody>
    </table>

  </div>
<!--main body end--> 
{% endblock body %}